# Udacity - Machine Learning Engineer Nanodegree
## Capstone Project
### Title: Development of a LSTM Network to Predict Students’ Answers on Exam Questions

### Implementation of DKT:
#### Part 1: Define constants

In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np

fn = "data/ASSISTments_skill_builder_data.csv" # Dataset path
verbose = 1 # Verbose = {0,1,2}
best_model_weights = "weights/bestmodel" # File to save the model.
log_dir = "logs" # Path to save the logs.
optimizer = "adam" # Optimizer to use
lstm_units = 100 # Number of LSTM units
batch_size = 32 # Batch size
epochs = 10 # Number of epochs to train
dropout_rate = 0.3 # Dropout rate
test_fraction = 0.2 # Portion of data to be used for testing
validation_fraction = 0.2 # Portion of training data to be used for validation

#### Part 2: Pre-processing

In [2]:
from deepkt import deepkt, data_util, metrics


dataset, length, nb_features, nb_skills = data_util.load_dataset(fn=fn,
                                                                 batch_size=batch_size,
                                                                 shuffle=True)

train_set, test_set, val_set = data_util.split_dataset(dataset=dataset,
                                                       total_size=length,
                                                       test_fraction=test_fraction,
                                                       val_fraction=validation_fraction)


set_sz = length * batch_size
test_set_sz = (set_sz * test_fraction)
val_set_sz = (set_sz - test_set_sz) * validation_fraction
train_set_sz = set_sz - test_set_sz - val_set_sz
print("============= Data Summary =============")
print("Total number of students: %d" % set_sz)
print("Training set size: %d" % train_set_sz)
print("Validation set size: %d" % val_set_sz)
print("Testing set size: %d" % test_set_sz)
print("Number of skills: %d" % nb_skills)
print("Number of features in the input: %d" % nb_features)
print("========================================")

/Users/maywzh/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
============= Data Summary =============
Total number of students: 4032
Training set size: 2580
Validation set size: 645
Testing set size: 806
Number of skills: 123
Number of features in the input: 246
========================================

In [3]:
train_set

In [4]:
 df = pd.read_csv(fn)

/Users/maywzh/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0.0,NaN,1.0,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0.0,NaN,2.0,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0.0,NaN,1.0,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0.0,NaN,2.0,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0.0,0.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525529,38214014,291495,96299,57830,108976,0,1,1,38234,tutor,...,0,2,38234,55692,200260.0,NaN,0.0,NaN,54.0,NaN
525530,38214016,291495,96299,57843,109015,0,1,1,6500,tutor,...,0,0,6500,55693,200299.0,NaN,0.0,NaN,55.0,NaN
525531,38214195,291503,96299,34577,54060,0,1,1,18344,tutor,...,0,3,18344,30677,NaN,0.8,0.0,NaN,56.0,NaN
525532,38214196,291503,96299,34577,54061,0,1,1,12922,tutor,...,0,2,12922,30677,NaN,-6,0.0,NaN,57.0,NaN
525533,38214198,291503,96299,34577,54062,0,0,9,36047,tutor,...,1,3,163422,30677,NaN,-6.8,0.0,0.0,58.0,NaN

In [6]:
if "skill_id" not in df.columns:
    raise KeyError(f"The column 'skill_id' was not found on {fn}")
if "correct" not in df.columns:
    raise KeyError(f"The column 'correct' was not found on {fn}")
if "user_id" not in df.columns:
    raise KeyError(f"The column 'user_id' was not found on {fn}")

In [7]:
if not (df['correct'].isin([0, 1])).all():
        raise KeyError(f"The values of the column 'correct' must be 0 or 1.")

In [8]:
  df.dropna(subset=['skill_id'], inplace=True)
  df

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0.0,NaN,1.0,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0.0,NaN,2.0,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0.0,NaN,1.0,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0.0,NaN,2.0,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0.0,0.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459203,33150408,277900,85730,69042,128442,1,0,2,51016,tutor,...,0,4,102125,59998,NaN,03/jul,0.0,NaN,13.0,13.0
459204,33150487,277900,85730,69056,128456,1,1,1,61547,tutor,...,0,4,61547,59998,NaN,2-May,0.0,NaN,14.0,14.0
459205,33150779,277900,85730,69046,128446,1,1,1,53890,tutor,...,0,4,53890,59998,NaN,10/-6,0.0,NaN,15.0,15.0
459206,33151098,277901,85730,69057,128457,1,0,4,181532,tutor,...,3,3,196844,60008,NaN,57/9,0.0,1.0,16.0,16.0
459207,31950415,276173,87896,69025,128413,1,0,0,44424,tutor,...,1,3,44424,60010,NaN,NaN,1.0,0.0,1.0,1.0

In [9]:
df = df.groupby('user_id').filter(lambda q: len(q) > 1).copy()

In [10]:
df

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0.0,NaN,1.0,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0.0,NaN,2.0,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0.0,NaN,1.0,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0.0,NaN,2.0,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0.0,0.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459202,33150328,277900,85730,69050,128450,1,0,2,51594,tutor,...,0,4,130875,59998,NaN,0,0.0,NaN,12.0,12.0
459203,33150408,277900,85730,69042,128442,1,0,2,51016,tutor,...,0,4,102125,59998,NaN,03/jul,0.0,NaN,13.0,13.0
459204,33150487,277900,85730,69056,128456,1,1,1,61547,tutor,...,0,4,61547,59998,NaN,2-May,0.0,NaN,14.0,14.0
459205,33150779,277900,85730,69046,128446,1,1,1,53890,tutor,...,0,4,53890,59998,NaN,10/-6,0.0,NaN,15.0,15.0
459206,33151098,277901,85730,69057,128457,1,0,4,181532,tutor,...,3,3,196844,60008,NaN,57/9,0.0,1.0,16.0,16.0

In [11]:
df_exercise = df.groupby('exercise_id').filter(lambda q: len(q) == 2).copy()

KeyError: 'exercise_id'

In [51]:
df['skill'], _ = pd.factorize(df['skill_id'], sort=True)
#df['exercise'], _ = pd.factorize(df['problem_id'], sort=True)

In [49]:
df

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,0,3,32454,30799,NaN,26,0.0,NaN,1.0,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,0,3,4922,30799,NaN,55,0.0,NaN,2.0,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,0,3,42000,30799,NaN,88,0.0,NaN,1.0,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,0,3,4859,30059,NaN,41,0.0,NaN,2.0,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,3,4,124564,30060,NaN,65,0.0,0.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459202,33150328,277900,85730,69050,128450,1,0,2,51594,tutor,...,0,4,130875,59998,NaN,0,0.0,NaN,12.0,12.0
459203,33150408,277900,85730,69042,128442,1,0,2,51016,tutor,...,0,4,102125,59998,NaN,03/jul,0.0,NaN,13.0,13.0
459204,33150487,277900,85730,69056,128456,1,1,1,61547,tutor,...,0,4,61547,59998,NaN,2-May,0.0,NaN,14.0,14.0
459205,33150779,277900,85730,69046,128446,1,1,1,53890,tutor,...,0,4,53890,59998,NaN,10/-6,0.0,NaN,15.0,15.0
459206,33151098,277901,85730,69057,128457,1,0,4,181532,tutor,...,3,3,196844,60008,NaN,57/9,0.0,1.0,16.0,16.0

In [52]:
df['skill_with_answer'] = df['skill'] * 2 + df['correct']

In [76]:
df

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,...,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original,skill,skill_with_answer
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,...,32454,30799,NaN,26,0.0,NaN,1.0,1.0,0,1
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,...,4922,30799,NaN,55,0.0,NaN,2.0,2.0,0,1
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,...,42000,30799,NaN,88,0.0,NaN,1.0,1.0,0,0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,...,4859,30059,NaN,41,0.0,NaN,2.0,2.0,0,1
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,...,124564,30060,NaN,65,0.0,0.0,3.0,3.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459202,33150328,277900,85730,69050,128450,1,0,2,51594,tutor,...,130875,59998,NaN,0,0.0,NaN,12.0,12.0,122,244
459203,33150408,277900,85730,69042,128442,1,0,2,51016,tutor,...,102125,59998,NaN,03/jul,0.0,NaN,13.0,13.0,122,244
459204,33150487,277900,85730,69056,128456,1,1,1,61547,tutor,...,61547,59998,NaN,2-May,0.0,NaN,14.0,14.0,122,245
459205,33150779,277900,85730,69046,128446,1,1,1,53890,tutor,...,53890,59998,NaN,10/-6,0.0,NaN,15.0,15.0,122,245
459206,33151098,277901,85730,69057,128457,1,0,4,181532,tutor,...,196844,60008,NaN,57/9,0.0,1.0,16.0,16.0,122,244

In [13]:
dfg = df.groupby("problem_id")
dfg.size()

problem_id
83          4
84          4
85          5
86         30
249         1
         ...
189408    210
189554    420
189565    210
189566    210
196456      1
Length: 17748, dtype: int64

In [25]:
gs = [g[0] for g in list(dfg)] 
gs
qk = {}
for g in gs:
    gg =dfg.get_group(g)
    qk[g] = gg["skill_id"].unique()

In [30]:
qk

47892: array([ 10., 104.]),
 47896: array([ 10., 104.]),
 47900: array([ 10., 104.]),
 48054: array([10., 64.]),
 48058: array([10., 64.]),
 48062: array([10., 64.]),
 48066: array([10., 64.]),
 48070: array([10., 64.]),
 48074: array([10., 64.]),
 48078: array([76.]),
 48082: array([10., 64.]),
 48086: array([10., 64.]),
 48090: array([10., 64.]),
 48094: array([10., 64.]),
 48098: array([10., 64.]),
 48102: array([10., 64.]),
 48106: array([10., 64.]),
 48110: array([10., 64.]),
 48114: array([10., 64.]),
 48118: array([10., 64.]),
 48122: array([10., 64.]),
 48126: array([10., 64.]),
 48130: array([10., 64.]),
 48134: array([10., 64.]),
 48138: array([10., 64.]),
 48142: array([10., 64.]),
 48146: array([10., 64.]),
 48150: array([10., 64.]),
 48154: array([10., 64.]),
 48158: array([10., 64.]),
 48162: array([10., 64.]),
 48166: array([10., 64.]),
 48170: array([10., 64.]),
 48446: array([74., 92.]),
 48447: array([74., 92.]),
 48448: array([74., 92.]),
 48449: array([74., 92.]),
 48450: array([74., 92.]),
 48451: array([74., 92.]),
 48452: array([74., 92.]),
 48453: array([74., 92.]),
 48454: array([74., 92.]),
 48455: array([74., 92.]),
 48456: array([74., 92.]),
 48457: array([74., 92.]),
 48458: array([74., 92.]),
 48459: array([74., 92.]),
 48460: array([74., 92.]),
 48461: array([74., 92.]),
 48462: array([74., 92.]),
 48463: array([74., 92.]),
 48464: array([74., 92.]),
 48465: array([74., 92.]),
 48466: array([74., 92.]),
 48467: array([74., 92.]),
 48470: array([74., 92.]),
 48471: array([74., 92.]),
 48472: array([74., 92.]),
 48473: array([74., 92.]),
 48474: array([74., 92.]),
 48475: array([74., 92.]),
 48476: array([74., 92.]),
 48477: array([74., 92.]),
 48478: array([74., 92.]),
 48479: array([74., 92.]),
 48482: array([74., 92.]),
 48483: array([74., 92.]),
 48484: array([74., 92.]),
 48485: array([74., 92.]),
 48486: array([74., 92.]),
 48487: array([74., 92.]),
 48488: array([74., 92.]),
 48491: array([74., 92.]),
 48492: array([74., 92.]),
 48493: array([74., 92.]),
 48494: array([74., 92.]),
 48495: array([74., 92.]),
 48496: array([74., 92.]),
 48497: array([74., 92.]),
 48498: array([74., 92.]),
 48499: array([74., 92.]),
 48500: array([74., 92.]),
 48501: array([74., 92.]),
 48502: array([74., 92.]),
 48503: array([74., 92.]),
 48504: array([74., 92.]),
 48505: array([74., 92.]),
 48506: array([74., 92.]),
 48507: array([74., 92.]),
 48508: array([74., 92.]),
 48509: array([74., 92.]),
 48510: array([74., 92.]),
 48511: array([74., 92.]),
 48512: array([74., 92.]),
 48515: array([74., 92.]),
 48516: array([74., 92.]),
 48517: array([74., 92.]),
 48518: array([74., 92.]),
 48519: array([74., 92.]),
 48520: array([74., 92.]),
 48521: array([74., 92.]),
 48522: array([74., 92.]),
 48523: array([74., 92.]),
 48524: array([74., 92.]),
 48527: array([74., 92.]),
 48528: array([74., 92.]),
 48529: array([74., 92.]),
 48530: array([74., 92.]),
 48531: array([74., 92.]),
 48532: array([74., 92.]),
 48533: array([10., 58.]),
 48534: array([10., 58.]),
 48535: array([10., 58.]),
 48536: array([10., 58.]),
 48537: array([10., 58.]),
 48538: array([10., 58.]),
 48539: array([10., 58.]),
 48540: array([10., 58.]),
 48541: array([10., 58.]),
 48542: array([10., 58.]),
 48543: array([10., 58.]),
 48544: array([10., 58.]),
 48545: array([10., 58.]),
 48546: array([10., 58.]),
 48547: array([10., 58.]),
 48548: array([10., 58.]),
 48549: array([10., 58.]),
 48550: array([10., 58.]),
 48551: array([10., 58.]),
 48552: array([10., 58.]),
 48553: array([10., 58.]),
 48554: array([10., 58.]),
 48555: array([10., 58.]),
 48556: array([10., 58.]),
 48557: array([10., 58.]),
 48558: array([10., 58.]),
 48559: array([10., 58.]),
 48560: array([10., 58.]),
 48561: array([10., 58.]),
 48562: array([10., 58.]),
 48563: array([10., 58.]),
 48564: array([10., 58.]),
 48565: array([10., 58.]),
 48566: array([10., 58.]),
 48567: array([10., 58.]),
 48569: array([10., 58.]),
 48570: array([10., 58.]),
 48571: array([10., 58.]),
 48572: array([10., 58.]),
 48573: array([10., 58.]),
 48574: array([10., 58.]),
 48575: array([10., 58.]),
 48576: array([10., 58.]),
 48577: array([10., 58.]),
 48578: array([10., 58.]),
 48579: array([10., 58.]),
 48580: array([10., 58.]),
 48581: array([10., 58.]),
 48582: array([10., 58.]),
 48583: array([10., 58.]),
 48584: array([10., 58.]),
 48585: array([10., 58.]),
 48586: array([10., 58.]),
 48587: array([10., 58.]),
 48588: array([10., 58.]),
 48590: array([10., 58.]),
 48591: array([10., 58.]),
 48593: array([10., 58.]),
 48594: array([10., 58.]),
 48595: array([10., 58.]),
 48596: array([10., 58.]),
 48597: array([10., 58.]),
 48598: array([10., 58.]),
 48599: array([10., 58.]),
 48600: array([10., 58.]),
 48601: array([10., 58.]),
 48602: array([10., 58.]),
 48603: array([10., 58.]),
 48604: array([10., 58.]),
 48605: array([10., 58.]),
 48606: array([10., 58.]),
 48607: array([10., 58.]),
 48608: array([10., 58.]),
 48609: array([10., 58.]),
 48610: array([10., 58.]),
 48611: array([10., 58.]),
 48612: array([10., 58.]),
 48613: array([10., 58.]),
 48614: array([10., 58.]),
 48615: array([10., 58.]),
 48616: array([10., 58.]),
 48617: array([10., 58.]),
 48618: array([10., 58.]),
 48619: array([10., 58.]),
 48620: array([10., 58.]),
 48621: array([10., 58.]),
 48622: array([10., 58.]),
 48623: array([10., 58.]),
 48624: array([10., 58.]),
 48625: array([10., 58.]),
 48626: array([10., 58.]),
 48627: array([10., 58.]),
 48628: array([10., 58.]),
 48629: array([10., 58.]),
 48630: array([10., 58.]),
 48631: array([10., 58.]),
 48632: array([10., 58.]),
 48633: array([10., 58.]),
 48634: array([10., 58.]),
 48635: array([10., 58.]),
 48636: array([10., 58.]),
 48638: array([10., 58.]),
 48639: array([10., 58.]),
 48640: array([10., 58.]),
 48641: array([10., 58.]),
 48642: array([10., 58.]),
 48643: array([10., 58.]),
 48644: array([10., 58.]),
 48645: array([10., 58.]),
 48646: array([10., 58.]),
 48647: array([10., 58.]),
 48648: array([10., 58.]),
 48649: array([10., 58.]),
 48650: array([10., 58.]),
 48651: array([10., 58.]),
 48652: array([10., 58.]),
 48654: array([10., 58.]),
 48655: array([10., 58.]),
 48656: array([10., 58.]),
 48657: array([10., 58.]),
 48658: array([10., 58.]),
 48659: array([10., 58.]),
 48660: array([10., 58.]),
 48661: array([10., 58.]),
 48662: array([10., 58.]),
 48663: array([10., 58.]),
 48664: array([10., 58.]),
 48665: array([10., 58.]),
 48666: array([10., 58.]),
 48667: array([10., 58.]),
 48668: array([10., 58.]),
 48669: array([10., 58.]),
 48670: array([10., 58.]),
 48671: array([10., 58.]),
 48672: array([10., 58.]),
 48673: array([10., 58.]),
 48674: array([10., 58.]),
 48675: array([10., 58.]),
 48676: array([10., 58.]),
 48677: array([10., 58.]),
 48678: array([10., 58.]),
 48679: array([10., 58.]),
 48680: array([10., 58.]),
 48681: array([10., 58.]),
 48682: array([10., 58.]),
 48683: array([10., 58.]),
 48684: array([10., 58.]),
 48685: array([10., 58.]),
 48686: array([10., 58.]),
 48687: array([10., 58.]),
 48688: array([10., 58.]),
 48689: array([10., 58.]),
 48690: array([10., 58.]),
 48691: array([10., 58.]),
 48692: array([10., 58.]),
 48693: array([10., 58.]),
 48694: array([10., 58.]),
 48695: array([10., 58.]),
 48696: array([10., 58.]),
 48698: array([10., 58.]),
 48699: array([10., 58.]),
 48700: array([10., 58.]),
 48701: array([10., 58.]),
 48702: array([10., 58.]),
 48703: array([10., 58.]),
 48704: array([10., 58.]),
 48705: array([10., 58.]),
 48706: array([10., 58.]),
 48707: array([10., 58.]),
 48708: array([10., 58.]),
 48709: array([10., 58.]),
 48710: array([10., 58.]),
 48711: array([10., 58.]),
 48712: array([10., 58.]),
 48805: array([8.]),
 48806: array([8.]),
 48807: array([8.]),
 48808: array([8.]),
 48809: array([8.]),
 48810: array([8.]),
 48811: array([8.]),
 48812: array([8.]),
 48813: array([8.]),
 48814: array([8.]),
 48815: array([8.]),
 48816: array([8.]),
 48817: array([8.]),
 48818: array([8.]),
 48819: array([8.]),
 48820: array([8.]),
 48821: array([8.]),
 48822: array([8.]),
 48823: array([8.]),
 48824: array([8.]),
 48825: array([8.]),
 48826: array([8.]),
 48827: array([8.]),
 48828: array([8.]),
 48829: array([8.]),
 48830: array([8.]),
 48831: array([8.]),
 48832: array([8.]),
 48833: array([8.]),
 48834: array([8.]),
 48865: array([10., 12.]),
 48869: array([10., 12.]),
 48873: array([10., 12.]),
 48877: array([10., 12.]),
 48881: array([10., 12.]),
 48885: array([10., 12.]),
 48889: array([10., 12.]),
 48893: array([10., 12.]),
 48897: array([10., 12.]),
 48901: array([10., 12.]),
 49000: array([10., 12.]),
 49004: array([10., 12.]),
 49008: array([10., 12.]),
 49012: array([10., 12.]),
 49016: array([10., 12.]),
 49020: array([10., 12.]),
 49024: array([10., 12.]),
 49028: array([10., 12.]),
 49032: array([10., 12.]),
 49036: array([10., 12.]),
 49040: array([10., 12.]),
 49044: array([10., 12.]),
 49048: array([10., 12.]),
 49052: array([10., 12.]),
 49056: array([10., 12.]),
 49060: array([10., 12.]),
 49064: array([10., 12.]),
 49068: array([10., 12.]),
 49072: array([10., 12.]),
 49076: array([10., 12.]),
 49080: array([10., 13.]),
 49083: array([10., 13.]),
 49086: array([10., 13.]),
 49092: array([10., 13.]),
 49104: array([10., 13.]),
 49107: array([10., 13.]),
 49110: array([10., 13.]),
 49113: array([10., 13.]),
 49119: array([10., 13.]),
 49122: array([10., 13.]),
 49125: array([10., 13.]),
 49128: array([10., 13.]),
 49131: array([10., 13.]),
 49137: array([10., 13.]),
 49140: array([10., 13.]),
 49146: array([10., 13.]),
 49149: array([10., 13.]),
 49152: array([10., 13.]),
 49155: array([10., 13.]),
 49158: array([10., 13.]),
 49161: array([10., 13.]),
 49164: array([10., 13.]),
 49170: array([10., 15.]),
 49173: array([10., 15.]),
 49179: array([10., 15.]),
 49182: array([10., 15.]),
 49185: array([10., 15.]),
 49188: array([10., 15.]),
 49191: array([10., 15.]),
 49197: array([10., 15.]),
 49200: array([10., 15.]),
 49203: array([10., 15.]),
 49206: array([10., 15.]),
 49209: array([10., 15.]),
 49212: array([10., 15.]),
 49218: array([10., 15.]),
 49224: array([10., 15.]),
 49227: array([10., 15.]),
 49233: array([10., 15.]),
 49236: array([10., 15.]),
 49239: array([10., 15.]),
 49242: array([10., 15.]),
 49245: array([10., 15.]),
 49248: array([10., 15.]),
 49254: array([10., 15.]),
 49257: array([10., 15.]),
 49261: array([58.]),
 49262: array([58.]),
 49263: array([58.]),
 49264: array([58.]),
 49265: array([58.]),
 49266: array([58.]),
 49267: array([58.]),
 49268: array([58.]),
 49269: array([58.]),
 49270: array([58.]),
 49271: array([58.]),
 49272: array([58.]),
 49273: array([58.]),
 49274: array([58.]),
 49275: array([58.]),
 49276: array([58.]),
 49277: array([58.]),
 49278: array([58.]),
 49279: array([58.]),
 49280: array([58.]),
 49281: array([58.]),
 49282: array([58.]),
 49283: array([58.]),
 49284: array([58.]),
 49285: array([58.]),
 49286: array([58.]),
 49287: array([58.]),
 49288: array([58.]),
 49289: array([58.]),
 49290: array([58.]),
 49292: array([74., 92.]),
 49293: array([74., 92.]),
 49294: array([74., 92.]),
 49295: array([74., 92.]),
 49296: array([74., 92.]),
 49297: array([74., 92.]),
 49298: array([74., 92.]),
 49299: array([74., 92.]),
 49300: array([74., 92.]),
 49301: array([74., 92.]),
 49302: array([74., 92.]),
 49303: array([74., 92.]),
 49304: array([74., 92.]),
 49305: array([74., 92.]),
 49306: array([74., 92.]),
 49307: array([74., 92.]),
 49308: array([74., 92.]),
 49309: array([74., 92.]),
 49310: array([74., 92.]),
 49311: array([74., 92.]),
 49312: array([74., 92.]),
 49313: array([74., 92.]),
 49314: array([74., 92.]),
 49315: array([74., 92.]),
 49316: array([74., 92.]),
 49317: array([74., 92.]),
 49318: array([74., 92.]),
 49319: array([74., 92.]),
 49320: array([74., 92.]),
 49321: array([74., 92.]),
 49322: array([74., 92.]),
 49323: array([74., 92.]),
 49324: array([74., 92.]),
 49325: array([74., 92.]),
 49326: array([74., 92.]),
 49327: array([74., 92.]),
 49328: array([74., 92.]),
 49329: array([74., 92.]),
 49330: array([74., 92.]),
 49331: array([74., 92.]),
 49332: array([74., 92.]),
 49333: array([74., 92.]),
 49334: array([74., 92.]),
 49335: array([74., 92.]),
 49336: array([74., 92.]),
 49337: array([74., 92.]),
 49338: array([74., 92.]),
 49339: array([74., 92.]),
 49340: array([74., 92.]),
 49341: array([74., 92.]),
 49342: array([74., 92.]),
 49343: array([74., 92.]),
 49344: array([74., 92.]),
 49345: array([74., 92.]),
 49346: array([74., 92.]),
 49347: array([74., 92.]),
 49348: array([74., 92.]),
 49349: array([74., 92.]),
 49350: array([74., 92.]),
 49351: array([74., 92.]),
 49352: array([74., 92.]),
 49353: array([74., 92.]),
 49354: array([74., 92.]),
 49358: array([74., 92.]),
 49359: array([74., 92.]),
 49360: array([74., 92.]),
 49361: array([74., 92.]),
 49362: array([74., 92.]),
 49363: array([74., 92.]),
 49364: array([74., 92.]),
 49365: array([74., 92.]),
 49366: array([74., 92.]),
 49367: array([74., 92.]),
 49368: array([74., 92.]),
 49369: array([74., 92.]),
 49370: array([74., 92.]),
 49371: array([74., 92.]),
 49372: array([74., 92.]),
 49373: array([74., 92.]),
 49374: array([74., 92.]),
 49375: array([74., 92.]),
 49376: array([74., 92.]),
 49377: array([74., 92.]),
 49378: array([74., 92.]),
 49379: array([74., 92.]),
 49380: array([74., 92.]),
 49381: array([74., 92.]),
 49682: array([323.]),
 49683: array([323.]),
 49684: array([323.]),
 49685: array([323.]),
 49686: array([323.]),
 49687: array([323.]),
 49688: array([323.]),
 49689: array([323.]),
 49690: array([323.]),
 49691: array([323.]),
 49692: array([323.]),
 49693: array([323.]),
 49694: array([323.]),
 49695: array([323.]),
 49696: array([323.]),
 49697: array([323.]),
 49698: array([323.]),
 49699: array([323.]),
 49700: array([323.]),
 49701: array([323.]),
 49702: array([323.]),
 49703: array([323.]),
 49704: array([323.]),
 49705: array([323.]),
 49706: array([323.]),
 49707: array([323.]),
 49708: array([323.]),
 49709: array([323.]),
 49710: array([323.]),
 49711: array([323.]),
 49712: array([323.]),
 49713: array([323.]),
 49714: array([323.]),
 49715: array([323.]),
 49716: array([323.]),
 49717: array([323.]),
 49718: array([323.]),
 49719: array([323.]),
 49720: array([323.]),
 49721: array([323.]),
 49722: array([323.]),
 49723: array([323.]),
 49724: array([323.]),
 49725: array([323.]),
 49726: array([323.]),
 49727: array([323.]),
 49728: array([323.]),
 49729: array([323.]),
 49730: array([323.]),
 49731: array([323.]),
 49732: array([323.]),
 49733: array([323.]),
 49734: array([323.]),
 49735: array([323.]),
 49736: array([323.]),
 49737: array([323.]),
 49738: array([323.]),
 49739: array([323.]),
 49740: array([323.]),
 49741: array([323.]),
 50709: array([10., 14.]),
 50715: array([10., 14.]),
 50718: array([10., 14.]),
 50721: array([10., 14.]),
 50727: array([10., 14.]),
 50730: array([10., 14.]),
 50733: array([10., 14.]),
 50739: array([10., 14.]),
 50742: array([10., 14.]),
 50748: array([10., 14.]),
 50751: array([10., 14.]),
 50757: array([10., 14.]),
 50760: array([10., 14.]),
 50766: array([10., 14.]),
 50769: array([10., 14.]),
 50772: array([10., 14.]),
 50775: array([10., 14.]),
 50778: array([10., 14.]),
 50781: array([10., 14.]),
 50784: array([10., 14.]),
 50787: array([10., 14.]),
 50793: array([10., 14.]),
 50796: array([10., 14.]),
 50803: array([10., 12.]),
 50815: array([10., 12.]),
 50819: array([10., 12.]),
 50827: array([10., 12.]),
 50831: array([10., 12.]),
 50835: array([10., 12.]),
 50855: array([10., 12.]),
 50859: array([10., 12.]),
 50863: array([10., 12.]),
 50867: array([10., 12.]),
 50875: array([10., 12.]),
 50879: array([10., 12.]),
 50883: array([10., 12.]),
 50895: array([10., 12.]),
 50899: array([10., 12.]),
 50903: array([10., 12.]),
 50911: array([10., 12.]),
 50982: array([310.]),
 50983: array([310.]),
 50984: array([310.]),
 50985: array([310.]),
 50986: array([310.]),
 50987: array([310.]),
 50988: array([310.]),
 50989: array([310.]),
 50990: array([310.]),
 50991: array([310.]),
 50992: array([310.]),
 50993: array([310.]),
 50994: array([310.]),
 50995: array([310.]),
 50996: array([310.]),
 50997: array([310.]),
 50998: array([310.]),
 50999: array([310.]),
 51000: array([310.]),
 51001: array([310.]),
 51002: array([310.]),
 51003: array([310.]),
 51004: array([310.]),
 51005: array([310.]),
 51006: array([310.]),
 51007: array([310.]),
 51008: array([310.]),
 51009: array([310.]),
 51010: array([310.]),
 51011: array([310.]),
 51012: array([310.]),
 51016: array([310.]),
 51017: array([310.]),
 51018: array([310.]),
 51019: array([310.]),
 51020: array([310.]),
 51021: array([310.]),
 51022: array([310.]),
 51023: array([310.]),
 51024: array([310.]),
 51025: array([310.]),
 51026: array([310.]),
 51027: array([310.]),
 51028: array([310.]),
 51029: array([310.]),
 51030: array([310.]),
 51031: array([310.]),
 51032: array([310.]),
 51033: array([310.]),
 51034: array([310.]),
 51035: array([310.]),
 51036: array([310.]),
 51037: array([310.]),
 51038: array([310.]),
 51039: array([310.]),
 51040: array([310.]),
 51041: array([310.]),
 51042: array([310.]),
 51043: array([310.]),
 51044: array([310.]),
 51045: array([310.]),
 51046: array([310.]),
 51047: array([310.]),
 51048: array([310.]),
 51049: array([310.]),
 51050: array([310.]),
 51051: array([310.]),
 51052: array([310.]),
 51053: array([310.]),
 51054: array([310.]),
 51055: array([310.]),
 51056: array([310.]),
 51057: array([310.]),
 51058: array([310.]),
 51059: array([310.]),
 51060: array([310.]),
 51061: array([310.]),
 51062: array([310.]),
 51063: array([310.]),
 51064: array([310.]),
 51065: array([310.]),
 51066: array([310.]),
 51067: array([310.]),
 51068: array([310.]),
 51069: array([310.]),
 51070: array([310.]),
 51071: array([310.]),
 51072: array([310.]),
 51073: array([310.]),
 51074: array([310.]),
 51075: array([310.]),
 51076: array([310.]),
 51077: array([310.]),
 51078: array([310.]),
 51079: array([310.]),
 51080: array([310.]),
 51081: array([310.]),
 51082: array([310.]),
 51083: array([310.]),
 51084: array([310.]),
 51085: array([310.]),
 51086: array([310.]),
 51087: array([310.]),
 51088: array([310.]),
 51089: array([310.]),
 51090: array([310.]),
 51091: array([310.]),
 51092: array([310.]),
 51093: array([310.]),
 51094: array([310.]),
 51095: array([310.]),
 51096: array([310.]),
 51097: array([310.]),
 51098: array([310.]),
 51099: array([310.]),
 51100: array([310.]),
 51101: array([310.]),
 51102: array([310.]),
 51103: array([310.]),
 51104: array([310.]),
 51105: array([310.]),
 51106: array([310.]),
 51107: array([310.]),
 51108: array([310.]),
 51109: array([310.]),
 51110: array([310.]),
 51111: array([310.]),
 51112: array([310.]),
 51113: array([310.]),
 51114: array([310.]),
 51115: array([310.]),
 51116: array([310.]),
 51117: array([310.]),
 51118: array([310.]),
 51119: array([310.]),
 51120: array([310.]),
 51121: array([310.]),
 51122: array([310.]),
 51123: array([310.]),
 51124: array([310.]),
 51125: array([310.]),
 51126: array([310.]),
 51127: array([310.]),
 51128: array([310.]),
 51129: array([310.]),
 51130: array([310.]),
 51131: array([310.]),
 51132: array([309.]),
 51135: array([309.]),
 51138: array([309.]),
 51141: array([309.]),
 51144: array([309.]),
 51147: array([309.]),
 51150: array([309.]),
 51153: array([309.]),
 51156: array([309.]),
 51159: array([309.]),
 51162: array([309.]),
 51165: array([309.]),
 51168: array([309.]),
 51171: array([309.]),
 51174: array([309.]),
 51177: array([309.]),
 51180: array([309.]),
 51183: array([309.]),
 51186: array([309.]),
 51189: array([309.]),
 51192: array([309.]),
 51195: array([309.]),
 51198: array([309.]),
 51201: array([309.]),
 51204: array([309.]),
 51207: array([309.]),
 51210: array([309.]),
 51213: array([309.]),
 51216: array([309.]),
 51219: array([309.]),
 51312: array([4.]),
 51313: array([4.]),
 51314: array([4.]),
 51315: array([4.]),
 51316: array([4.]),
 ...}

In [44]:
df.loc[(df['problem_id'] == 48066)][["user_id","problem_id","skill_id","overlap_time"]]

        user_id  problem_id  skill_id  overlap_time
20436     77994       48066      10.0         43252
20698     78046       48066      10.0         34991
20760     78051       48066      10.0         13720
20849     78418       48066      10.0         29611
20921     78452       48066      10.0         31405
20964     78455       48066      10.0         18023
20972     78456       48066      10.0         58617
20983     78457       48066      10.0         34463
21987     78989       48066      10.0         98262
22606     79066       48066      10.0         17728
23775     80174       48066      10.0         14078
24054     82162       48066      10.0         40391
24479     86510       48066      10.0          3711
25656     96253       48066      10.0         98262
26231     96288       48066      10.0         17728
162936    77994       48066      64.0         43252
162989    78046       48066      64.0         34991
162997    78051       48066      64.0         13720
163024    78418       48066      64.0         29611
163059    78452       48066      64.0         31405
163084    78455       48066      64.0         18023
163089    78456       48066      64.0         58617
163095    78457       48066      64.0         34463
163190    78989       48066      64.0         98262
163236    79066       48066      64.0         17728
163322    80174       48066      64.0         14078
163349    82162       48066      64.0         40391
163373    86510       48066      64.0          3711
163441    96253       48066      64.0         98262
163484    96288       48066      64.0         17728

In [23]:
len(dfg.get_group(83)["skill_id"].unique())

1

In [12]:
g1 = dfg.get_group("83")
g1

NameError: name 'dfg' is not defined

AttributeError: 'DataFrame' object has no attribute 'unique'

{(83, 63.0): [161864, 161871, 161894, 162020], (84, 79.0): [220560, 220566, 221073, 222753], (85, 48.0): [127938, 127941, 127945, 127957, 129325], (86, 48.0): [127937, 127939, 127940, 127943, 127944, 127947, 127956, 127958, 127962, 129324], (86, 63.0): [161863, 161865, 161866, 161868, 161870, 161875, 161893, 161895, 161901, 162019], (86, 79.0): [220559, 220561, 220562, 220564, 220565, 220568, 221072, 221074, 221078, 222752], (249, 63.0): [161900], (250, 79.0): [221077], (251, 48.0): [127961], (252, 48.0): [127942, 127946, 127948, 127959, 127960], (252, 63.0): [161867, 161874, 161876, 161898, 161899], (252, 70.0): [173357, 173363, 185108, 186770, 186777], (252, 79.0): [220563, 220567, 221046, 221075, 221076], (807, 70.0): [173348, 173353, 173367, 186761, 186765, 186772, 186779, 190036], (808, 70.0): [173349, 173354, 186762, 186766, 186773, 186780, 190037], (809, 70.0): [173350, 173355, 173368, 186763, 186767, 186774, 186781, 190038], (810, 70.0): [173347, 173352, 173364, 173366, 186760, 186764, 186771, 186778, 190035], (847, 77.0): [212907, 215553, 216352], (848, 77.0): [212908, 215554, 216353], (849, 77.0): [212626, 212906, 215552, 216351], (1080, 70.0): [173351, 173356, 173358, 173360, 173362, 173365, 173369, 173370, 186768, 186775, 186776, 190034], (1081, 77.0): [212622, 212896, 212901, 215556, 216227, 216347], (1082, 77.0): [212623, 212897, 212902, 215557, 216228, 216348], (1083, 77.0): [212624, 212898, 212903, 215558, 216349], (1084, 77.0): [212625, 212899, 212904, 215559, 216350], (1085, 77.0): [212621, 212790, 212895, 212900, 215555, 216226, 216346], (1251, 77.0): [212618, 212887], (1252, 77.0): [212619, 212888], (1253, 77.0): [212620, 212889], (1254, 77.0): [212595, 212617, 212665, 212666, 212722, 212732, 212750, 212806, 212886, 212905], (2214, 77.0): [212613, 212639, 212891, 212910, 215548], (2215, 77.0): [212614, 212640, 212892, 212911, 215549], (2216, 77.0): [212615, 212641, 212893, 212912, 215550], (2217, 77.0): [212616, 212642, 212894, 212913, 215551], (2218, 77.0): [212526, 212567, 212612, 212638, 212686, 212890, 212909, 215547], (4013, 63.0): [161873, 161897], (4014, 47.0): [108925, 109944], (4015, 47.0): [108909, 108924, 109943], (4015, 63.0): [161869, 161872, 161896], (4015, 70.0): [173359, 173361, 186769], (4015, 77.0): [212685, 212700, 212885], (8462, 61.0): [157312, 157340, 157348, 157774, 157804, 158084, 158285, 158511, 158722, 158757, 158802, 158955, 159421, 159447, 159525, 159542, 159625, 159662, 159684, 159752, 159843, 159852, 159898, 160229, 160459, 160524, 160564, 160590, 160648, 160965, 161036, 161231, 161262, 161276], (8463, 61.0): [157292, 157320, 157434, 157470, 157948, 157958, 157961, 158317, 158354, 158437, 158567, 158834, 158882, 158944, 159170, 159220, 159223, 159239, 159347, 159376, 159539, 159682, 159787, 159837, 160639, 160701, 160811, 160816, 160824, 160989, 161014, 161064], (12470, 217.0): [263262, 263299, 263303, 263310, 263322], (12813, 204.0): [263146, 263168, 263192, 263201, 263214, 263224, 263235, 263240, 263253], (12865, 217.0): [263274, 263283, 263290, 263302, 263309, 263314, 263320, 263326, 263341], (12949, 217.0): [263263, 263266, 263269, 263273, 263277, 263293, 263295, 263307, 263317, 263321, 263328, 263334], (12978, 204.0): [263152, 263165, 263230, 263242], (12981, 204.0): [263144, 263151, 263160, 263171, 263205, 263210, 263212, 263215, 263225, 263232, 263250, 263256], (13080, 204.0): [263142, 263158, 263163, 263194, 263229, 263246, 263248], (13130, 217.0): [263259, 263280, 263291, 263292, 263296, 263300, 263306, 263312, 263318, 263336, 263337, 263346], (13152, 204.0): [263157, 263162, 263176, 263179, 263187, 263204, 263207, 263216, 263221, 263236, 263239, 263243, 263247], (13249, 204.0): [263150, 263167, 263177, 263183, 263185, 263189, 263200, 263209, 263218, 263244, 263254, 263257], (13297, 217.0): [263258, 263260, 263264, 263267, 263284, 263285, 263287, 263311, 263316, 263343, 263344, 263345], (13305, 217.0): [263270, 263272, 263279, 263289, 263301, 263315, 263319, 263330, 263332, 263333, 263348], (13409, 204.0): [263145, 263170, 263180, 263182, 263190, 263203, 263220, 263237, 263245, 263251, 263252], (13432, 203.0): [263102, 263103, 263109, 263114, 263116, 263126, 263133, 263134, 263138], (13513, 217.0): [263261, 263286, 263288, 263297, 263298, 263304, 263323, 263325, 263329, 263340], (14443, 203.0): [263094, 263095, 263098, 263104, 263105, 263111, 263121, 263123, 263124, 263128, 263137, 263139], (14449, 203.0): [263099, 263108, 263115, 263119, 263120, 263127, 263132, 263140], (14454, 203.0): [263097, 263101, 263106, 263112, 263113, 263117, 263118, 263130], (14468, 203.0): [263096, 263100, 263107, 263110, 263122, 263125, 263129, 263131, 263135, 263136], (14560, 217.0): [263308], (14602, 204.0): [263143, 263154, 263174, 263181, 263188, 263195, 263206, 263219, 263238, 263241, 263249], (14749, 204.0): [263147, 263161, 263173, 263178, 263184, 263193, 263196, 263199, 263202, 263227], (15142, 217.0): [263265, 263268, 263271, 263278, 263282, 263294, 263324, 263331, 263335, 263338, 263342], (22062, 217.0): [263275, 263276, 263281, 263305, 263313, 263327, 263339, 263347], (22756, 204.0): [263156, 263164, 263186, 263217], (31460, 204.0): [263141, 263148, 263153, 263155, 263191, 263198, 263226, 263233], (32558, 204.0): [263159, 263166, 263172, 263197, 263208, 263213, 263222, 263231], (35857, 204.0): [263149, 263169, 263175, 263211, 263223, 263228, 263234, 263255], (42492, 280.0): [307360, 307399, 307412, 307439, 307448, 307468, 307492, 310238], (43199, 27.0): [84782, 84815, 84923, 85005, 85336, 85577, 85861, 85887, 86392, 86430, 86539, 86717, 86806, 86842, 86874, 87303, 87851, 88068, 88191, 88974, 88987, 89515, 89576, 89634, 89846, 89917, 89973, 90012, 90393, 90918, 91138], (44718, 280.0): [307370, 307460, 307490, 307684, 307706], (46794, 11.0): [26394, 26432, 26732, 38519, 38553, 39066, 39087, 39101, 39823, 39862, 39916, 40004, 40061, 40091, 40292, 40321, 40426, 40442, 40516, 40555, 40865, 40880, 40914, 40991, 41008, 41793, 41813, 41822, 41954, 41997, 42126, 42139, 42150, 42174, 42247, 42333, 42902, 42938, 43319, 43356, 43406, 43501, 43553, 43582, 43661, 43689, 43798, 43804, 43888, 44192, 44209, 44231, 44299, 44331], (46794, 70.0): [172438, 172467, 173291, 186722, 186756, 187167, 187181, 187185, 188012, 188055, 188118, 188236, 188297, 188339, 188639, 188683, 188837, 188859, 188924, 188974, 189507, 189536, 189576, 189663, 189700, 190556, 190749, 190758, 190941, 191013, 191084, 191239, 191243, 191250, 191286, 191350, 192514, 192636, 193976, 194023, 194082, 194208, 194264, 194294, 194383, 194408, 194518, 194524, 194582, 194864, 194881, 194900, 194960, 194983], (46797, 11.0): [26411, 26447, 26532, 39124, 40050, 40276, 40533, 40842, 41125, 41140, 41144, 41181, 41256, 41591, 41655, 41839, 41980, 42022, 42040, 42292, 42342, 42901, 43541, 43628, 43879, 44171, 44453, 44467, 44472, 44513, 44578], (46797, 70.0): [172452, 172477, 172786, 187197, 188288, 188626, 188944, 189457, 189826, 189847, 189851, 189890, 189968, 190318, 190405, 190793, 190970, 191025, 191035, 191327, 191358, 192513, 194251, 194358, 194576, 194832, 195115, 195126, 195134, 195183, 195243], (46800, 11.0): [26396, 26520, 26563, 26576, 26679, 38524, 38548, 38800, 39002, 39033, 39902, 39917, 40253, 40346, 40587, 40689, 40760, 40777, 40808, 40832, 40897, 40908, 40956, 41006, 41069, 41145, 41231, 41281, 41615, 41675, 41676, 41712, 41739, 41812, 41850, 41871, 42018, 42185, 42251, 42278, 42813, 42837, 42852, 42905, 43192, 43396, 43407, 43612, 43713, 43930, 44039, 44090, 44097, 44137, 44163, 44224, 44237, 44285, 44330, 44394, 44466, 44553, 44606], (46800, 70.0): [172440, 172781, 172906, 172917, 173171, 186728, 186751, 186939, 187121, 187145, 188104, 188119, 188603, 188725, 189019, 189273, 189332, 189373, 189406, 189431, 189553, 189570, 189630, 189698, 189766, 189852, 189938, 189999, 190350, 190424, 190432, 190472, 190500, 190748, 190802, 190825, 191021, 191251, 191290, 191321, 192100, 192113, 192126, 192517, 193369, 194069, 194083, 194333, 194428, 194631, 194708, 194756, 194773, 194803, 194821, 194893, 194908, 194948, 194982, 195050, 195125, 195220, 195283], (46803, 11.0): [26402, 26488, 26534, 38821, 38928, 39006, 39084, 39875, 40040, 40051, 40230, 40546, 40575, 40645, 40803, 40834, 41158, 41216, 41699, 41717, 41797, 41841, 41908, 41932, 42032, 42044, 42060, 42109, 42142, 42274, 42299, 42785, 42880, 43364, 43530, 43540, 43894, 43905, 43990, 44132, 44162, 44490, 44542], (46803, 70.0): [172441, 172568, 172788, 186954, 187060, 187125, 187178, 188068, 188277, 188289, 188368, 188965, 189003, 189221, 189401, 189433, 189873, 189924, 190454, 190482, 190735, 190795, 190872, 190909, 191031, 191048, 191056, 191071, 191241, 191317, 191334, 192074, 192418, 194031, 194242, 194250, 194592, 194601, 194680, 194798, 194820, 195163, 195208], (46806, 11.0): [26415, 26670, 39021, 39126, 39200, 40080, 40380, 40514, 40589, 40614, 40749, 40774, 40939, 40958, 41019, 41066, 41201, 41257, 41830, 41993, 42161, 42264, 42343, 42882, 42904, 42935, 43193, 43566, 43747, 43921, 43946, 44075, 44104, 44253, 44274, 44345, 44396, 44523, 44577], (46806, 70.0): [172456, 173152, 187134, 187199, 187246, 188322, 188787, 188922, 189021, 189190, 189318, 189370, 189602, 189632, 189718, 189763, 189913, 189969, 190768, 191003, 191247, 191308, 191359, 192420, 192516, 192633, 193370, 194271, 194467, 194621, 194645, 194741, 194778, 194920, 194937, 195001, 195052, 195194, 195242], (46809, 11.0): [38554, 38879, 38908, 38929, 38985, 39024, 39050, 39080, 40023, 40075, 40246, 40411, 40497, 40650, 40662, 40743, 40802, 40831, 40944, 41067, 41183, 41614, 41711, 41859, 41874, 41923, 41938, 42020, 42075, 42272, 42800, 43512, 43572, 43619, 43779, 43857, 43972, 44051, 44130, 44159, 44270, 44395, 44510], (46809, 70.0): [186757, 187008, 187032, 187061, 187112, 187137, 187158, 187174, 188261, 188317, 188596, 188812, 188915, 189226, 189240, 189312, 189400, 189430, 189607, 189764, 189892, 190349, 190471, 190814, 190828, 190894, 190918, 191023, 191062, 191316, 192086, 194215, 194282, 194343, 194501, 194563, 194666, 194719, 194796, 194817, 194933, 195051, 195180], (46812, 11.0): [26435, 26450, 26531, 38963, 39030, 39954, 40009, 40233, 40441, 40496, 40518, 40599, 40848, 40915, 41265, 41297, 41604, 41613, 41640, 41667, 41798, 41917, 41989, 42021, 42057, 42266, 42838, 42924, 42947, 43443, 43497, 43803, 43858, 43934, 44177, 44232, 44594, 44619], (46812, 70.0): [172470, 172480, 172785, 187091, 187142, 188168, 188241, 188371, 188858, 188914, 188926, 189038, 189463, 189577, 189981, 190013, 190332, 190348, 190385, 190420, 190736, 190883, 190982, 191024, 191053, 191310, 192114, 192528, 192637, 194125, 194204, 194523, 194564, 194635, 194838, 194901, 195269, 195295], (46815, 11.0): [26420, 26448, 39085, 39976, 40011, 40765, 40776, 40798, 40881, 40912, 41161, 41266, 41292, 41592, 41629, 41645, 41652, 41790, 41866, 41931, 42265, 42271, 42298, 42770, 42786, 42899, 43471, 43496, 44079, 44096, 44127, 44199, 44241, 44488, 44598, 44621], (46815, 70.0): [172460, 172478, 187179, 188204, 188243, 189337, 189372, 189396, 189537, 189574, 189876, 189982, 190008, 190319, 190375, 190391, 190402, 190553, 190821, 190908, 191309, 191315, 191333, 192065, 192077, 192511, 194167, 194203, 194745, 194772, 194793, 194872, 194912, 195161, 195273, 195297], (46818, 11.0): [26731, 26780, 38525, 38552, 38802, 38822, 38877, 39162, 39167, 40008, 40026, 40042, 40231, 40431, 40510, 40896, 40922, 40990, 41036, 41105, 41211, 41282, 41308, 41657, 41686, 41787, 41837, 41930, 41955, 41975, 42783, 42799, 43303, 43495, 43516, 43528, 43789, 44226, 44245, 44300, 44364, 44425, 44544, 44607, 44631], (46818, 70.0): [173290, 173332, 186729, 186755, 186941, 186955, 187006, 187227, 187232, 188240, 188264, 188279, 188369, 188842, 188918, 189552, 189595, 189662, 189733, 189809, 189921, 190000, 190032, 190407, 190442, 190550, 190780, 190907, 190942, 190967, 192072, 192085, 193955, 194202, 194219, 194240, 194511, 194895, 194916, 194961, 195019, 195078, 195212, 195284, 195315], (46821, 11.0): [26553, 26623, 38818, 38862, 39004, 39047, 39086, 39820, 39905, 40037, 40063, 40078, 40090, 40291, 40470, 40472, 40676, 40844, 40901, 41007, 41017, 41051, 41186, 41239, 41294, 41309, 41594, 41654, 41758, 41774, 41781, 41789, 41802, 41902, 42000, 42001, 42091, 42294, 42774, 43310, 43391, 43534, 43549, 43569, 43581, 43659, 43831, 43839, 44002, 44174, 44220, 44333, 44343, 44377, 44507, 44564, 44623, 44632], (46821, 70.0): [172822, 173002, 186951, 186988, 187123, 187155, 187180, 188004, 188107, 188274, 188299, 188320, 188338, 188638, 188887, 188889, 189262, 189459, 189557, 189699, 189716, 189751, 189895, 189948, 190010, 190033, 190321, 190404, 190518, 190535, 190540, 190552, 190742, 190866, 191016, 191017, 191067, 191329, 192069, 193965, 194064, 194246, 194260, 194279, 194293, 194381, 194543, 194550, 194689, 194835, 194885, 194985, 194993, 195035, 195170, 195229, 195299, 195316], (46824, 11.0): [26424, 26434, 26444, 26486, 26556, 38848, 39949, 40256, 40366, 40382, 40444, 40713, 40835, 40934, 40988, 41102, 41240, 41605, 41619, 41630, 41708, 41728, 41794, 41924, 41981, 42270, 43444, 43610, 43723, 43746, 43805, 44023, 44140, 44263, 44318, 44424, 44565], (46824, 70.0): [172464, 172469, 172474, 172566, 172825, 186983, 188163, 188606, 188751, 188789, 188861, 189276, 189434, 189597, 189660, 189806, 189949, 190333, 190354, 190376, 190466, 190491, 190557, 190895, 190971, 191314, 194133, 194331, 194439, 194466, 194525, 194693, 194811, 194926, 194969, 195077, 195230], (46827, 11.0): [26392, 26678, 38529, 38923, 39022, 39049, 40010, 40022, 40039, 40106, 40247, 40350, 40369, 40389, 40536, 40600, 40611, 40639, 40659, 40673, 40742, 40943, 40969, 41004, 41085, 41681, 41692, 41880, 41944, 42229, 42833, 42839, 42853, 43498, 43514, 43532, 43599, 43618, 43704, 43733, 43753, 43871, 43933, 43955, 43983, 43994, 44050, 44268, 44288, 44329, 44414], (46827, 70.0): [172436, 173170, 186737, 187055, 187135, 187157, 188242, 188260, 188276, 188355, 188597, 188729, 188754, 188796, 188947, 189039, 189187, 189215, 189237, 189259, 189311, 189606, 189647, 189696, 189776, 190435, 190448, 190836, 190926, 191272, 192109, 192115, 192127, 194205, 194217, 194244, 194318, 194342, 194420, 194452, 194473, 194568, 194634, 194663, 194673, 194684, 194718, 194931, 194950, 194981, 195065], (46830, 11.0): [26422, 26485, 26692, 26781, 38922, 39003, 39025, 40048, 40454, 40487, 40568, 40612, 40763, 41090, 41141, 41184, 41226, 41271, 41319, 41343, 41661, 41706, 41865, 41896, 41929, 41956, 42030, 42092, 42113, 42344, 42604, 42807, 42897, 42926, 43286, 43543, 43824, 43843, 43915, 43954, 44081, 44411, 44473, 44511, 44557, 44590, 44648], (46830, 70.0): [172462, 172565, 173185, 173333, 187054, 187122, 187138, 188286, 188868, 188905, 188996, 189188, 189335, 189781, 189848, 189893, 189933, 189987, 190103, 190173, 190415, 190464, 190820, 190861, 190906, 190943, 191029, 191068, 191075, 191360, 191491, 192093, 192509, 192530, 193945, 194256, 194536, 194553, 194613, 194662, 194747, 195057, 195135, 195181, 195224, 195264, 195332], ...}

In [29]:
seq = df.groupby('user_id').apply(
    lambda r: (
        r['skill_with_answer'].values[:-1],
        r['skill'].values[1:],
        r['exercise'].values[1:],
        r['problem_id'].values[1:],
        r['correct'].values[1:],
    )
)

In [32]:
seq[51950]

(array([196, 197, 197, 197, 199]),
 array([98, 98, 98, 99, 99]),
 array([13942, 13826, 13921, 14505, 14480]),
 array([ 97671,  97555,  97650, 108102, 108062]),
 array([1, 1, 1, 1, 1]))

In [30]:
seq[6452]

KeyError: 6452

In [16]:
    nb_users = len(seq)

In [17]:
nb_users

4047

In [18]:
dataset = tf.data.Dataset.from_generator(
        generator=lambda: seq,
        output_types=(tf.int32, tf.int32, tf.float32)
    )

In [19]:
dataset

In [20]:
dataset

In [21]:
dataset = dataset.shuffle(buffer_size=nb_users)

In [22]:
dataset = dataset.map(
    lambda feat, skill, label: (
        tf.one_hot(feat, depth=features_depth),
        tf.concat(
            values=[
                tf.one_hot(skill, depth=skill_depth),
                tf.expand_dims(label, -1)
            ],
            axis=-1
        )
    )
)

NameError: in user code:

    <ipython-input-22-2b3f66542271>:2 None  *
        )

    NameError: name 'features_depth' is not defined

#### Part 3: Building the model

In [3]:
student_model = deepkt.DKTModel(
                        nb_features=nb_features,
                        nb_skills=nb_skills,
                        hidden_units=lstm_units,
                        dropout_rate=dropout_rate)

student_model.compile(
        optimizer=optimizer,
        metrics=[
            metrics.BinaryAccuracy(),
            metrics.AUC(),
            metrics.Precision(),
            metrics.Recall()
        ])

student_model.summary()

Model: "DKTModel"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
inputs (InputLayer)          [(None, None, 246)]       0
_________________________________________________________________
masking (Masking)            (None, None, 246)         0
_________________________________________________________________
lstm (LSTM)                  (None, None, 100)         138800
_________________________________________________________________
outputs (TimeDistributed)    (None, None, 123)         12423
=================================================================
Total params: 151,223
Trainable params: 151,223
Non-trainable params: 0
_________________________________________________________________

#### Part 4: Train the Model

In [4]:
import tensorflow as tf
history = student_model.fit(dataset=train_set,
                            epochs=epochs,
                            verbose=verbose,
                            validation_data=val_set,
                            callbacks=[ 
                                tf.keras.callbacks.CSVLogger(f"{log_dir}/train.log"),
                                tf.keras.callbacks.ModelCheckpoint(best_model_weights,
                                                                   save_best_only=True,
                                                                   save_weights_only=True),
                                tf.keras.callbacks.TensorBoard(log_dir=log_dir)
        ])

Epoch 1/10
83/83 [==============================] - 12s 146ms/step - loss: 0.0657 - binary_accuracy: 0.7288 - auc: 0.7076 - precision: 0.7478 - recall: 0.9222 - val_loss: 0.0000e+00 - val_binary_accuracy: 0.0000e+00 - val_auc: 0.0000e+00 - val_precision: 0.0000e+00 - val_recall: 0.0000e+00
Epoch 2/10
83/83 [==============================] - 9s 108ms/step - loss: 0.0557 - binary_accuracy: 0.7720 - auc: 0.8120 - precision: 0.7765 - recall: 0.9440 - val_loss: 0.0666 - val_binary_accuracy: 0.7878 - val_auc: 0.8344 - val_precision: 0.7908 - val_recall: 0.9487
Epoch 3/10
83/83 [==============================] - 9s 108ms/step - loss: 0.0612 - binary_accuracy: 0.7788 - auc: 0.8233 - precision: 0.7862 - recall: 0.9348 - val_loss: 0.0607 - val_binary_accuracy: 0.7715 - val_auc: 0.8289 - val_precision: 0.7733 - val_recall: 0.9310
Epoch 4/10
83/83 [==============================] - 9s 103ms/step - loss: 0.0596 - binary_accuracy: 0.7877 - auc: 0.8315 - precision: 0.7991 - recall: 0.9319 - val_loss: 0.0618 - val_binary_accuracy: 0.7871 - val_auc: 0.8322 - val_precision: 0.7917 - val_recall: 0.9436
Epoch 5/10
83/83 [==============================] - 9s 109ms/step - loss: 0.0532 - binary_accuracy: 0.7817 - auc: 0.8291 - precision: 0.7958 - recall: 0.9199 - val_loss: 0.0518 - val_binary_accuracy: 0.8046 - val_auc: 0.8671 - val_precision: 0.8093 - val_recall: 0.9352
Epoch 6/10
83/83 [==============================] - 8s 98ms/step - loss: 0.0584 - binary_accuracy: 0.7768 - auc: 0.8201 - precision: 0.7889 - recall: 0.9232 - val_loss: 0.0522 - val_binary_accuracy: 0.7863 - val_auc: 0.8385 - val_precision: 0.8047 - val_recall: 0.9141
Epoch 7/10
83/83 [==============================] - 9s 104ms/step - loss: 0.0536 - binary_accuracy: 0.7839 - auc: 0.8295 - precision: 0.7970 - recall: 0.9238 - val_loss: 0.0603 - val_binary_accuracy: 0.7838 - val_auc: 0.8345 - val_precision: 0.7932 - val_recall: 0.9277
Epoch 8/10
83/83 [==============================] - 9s 107ms/step - loss: 0.0546 - binary_accuracy: 0.7958 - auc: 0.8498 - precision: 0.8080 - recall: 0.9248 - val_loss: 0.0607 - val_binary_accuracy: 0.8053 - val_auc: 0.8586 - val_precision: 0.8169 - val_recall: 0.9346
Epoch 9/10
83/83 [==============================] - 9s 106ms/step - loss: 0.0543 - binary_accuracy: 0.7795 - auc: 0.8309 - precision: 0.7928 - recall: 0.9147 - val_loss: 0.0509 - val_binary_accuracy: 0.7806 - val_auc: 0.8216 - val_precision: 0.7891 - val_recall: 0.9329
Epoch 10/10
83/83 [==============================] - 9s 105ms/step - loss: 0.0547 - binary_accuracy: 0.7950 - auc: 0.8464 - precision: 0.8063 - recall: 0.9248 - val_loss: 0.0603 - val_binary_accuracy: 0.7717 - val_auc: 0.8144 - val_precision: 0.7823 - val_recall: 0.9200

#### Part 5: Load the Model with the Best Validation Loss

In [5]:
student_model.load_weights(best_model_weights)

#### Part 6: Test the Model

In [6]:
result = student_model.evaluate(test_set, verbose=verbose)

     26/Unknown - 2s 67ms/step - loss: 0.0529 - binary_accuracy: 0.8071 - auc: 0.8599 - precision: 0.8176 - recall: 0.9329